# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/stockfish*
src/-lstdc++.res

# Built library
src/libffish.a

# Neural network for the NNUE evaluation
**/*.nnue


# Build/test artifacts
*.exe
tests/syzygy
build
dist

# ffishjs
tests/js/node_modules
ffish.js
*.wasm

# pyffish
venv
*.so
pyffish.egg-info

# IDEs
.vscode
.idea

# Documentation
docs/html